# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = false
max_line_length = 120
insert_final_newline = false


[*.{cpp,h,cc,c,hpp,txt,rs,toml,frm,bas,vb}]
indent_size = 4